.card-container {
  margin: 1rem 0rem;
}
.card-container a {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.3rem;
  text-decoration: none;
  color: #682ae9 !important;
}
.card-container a span {
  display: block;
}
.card-container a :last-child {
  margin-top: 0.05rem;
}
.card-container a:hover {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}
@media screen and (max-width: 786px) {
  .card-container {
    justify-content: center !important;
    display: flex;
  }
}
@media screen and (max-width: 786px) {
  .filter {
    padding: 0 1.2rem !important;
  }
  .filter button,
  input {
    padding: 0.5rem !important;
  }
}

/* @media screen and (max-width: 1086px) {
  .card-container {
    justify-content: space-around !important;
    display: flex;
  }
} */
.container {
  padding: 1rem;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0;
}

.card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr); /* Default to 1 column */
}

@media (min-width: 600px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}

@media (min-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for large screens */
  }
}
