.skills {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.skill-wrapper {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  /* margin-bottom: 4rem; */
}
.skills img {
  width: 2rem;
  height: 2rem;

  /* display: block; */
  /* padding: 0.5rem 1rem; */
}
.skills span {
  margin: 1rem;
  padding: 0.8rem 1.5rem;
  display: block;
  border: 4px solid chartreuse;
  border-radius: 15px;
  box-shadow: 0px 0px 5px chartreuse;
}
@media (max-width: 786px) {
  .skills span {
    margin: 0.7rem;
    padding: 0.6rem 1.3Srem;
  }
  .skill-wrapper {
    margin-top: 1rem;
    min-height: 80vh;
  }
}
.skills span img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.skills .hotpink {
  border-color: hotpink;
  box-shadow: 0px 0px 5px hotpink;
}
.skills .purple {
  border-color: #682ae9;
  box-shadow: 0px 0px 5px #682ae9;
}
.tailwind {
  width: 2.5rem !important;
}
