.leaflet-container {
  height: 24rem;
  width: 24rem;
  margin: 0 auto;
  border-radius: 5%;
  box-shadow: 0px 0px 5px #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* z-index: -1; */
  box-shadow: 0px 0px 3px black;
}

@media screen and (max-width: 786px) {
  .leaflet-container {
    width: 90%;
  }
}
