.card-container {
  margin: 1rem 0rem;
}

@media screen and (max-width: 786px) {
  .card-container {
    justify-content: center !important;
    display: flex;
  }
}
@media screen and (max-width: 786px) {
  .filter {
    padding: 0 0.5rem !important;
  }
}

/* @media screen and (max-width: 1086px) {
  .card-container {
    justify-content: space-around !important;
    display: flex;
  }
} */
