.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
}
.wrapper h2,
.wrapper p {
  text-align: center;
  color: black;
}

.background {
  background-image: url("/src/assets/heaven.png");
  margin: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* z-index: 99; */
  position: absolute;
  pointer-events: auto;
  top: 0;
}
body {
  margin: 0 !important;
}
