.links-wrapper {
  position: fixed;
  bottom: 0%;
  font-family: "Kanit", sans-serif;
  width: 100%;
  display: grid;
  place-items: center;
}
.links-wrapper div {
  backdrop-filter: blur(7.5px);
  padding: 0 0.5rem;
  border-radius: 25px;
}
.links-wrapper > * {
  margin: 0;
  font-size: xx-large;
}
.links-wrapper p {
  color: black;
}
.links-wrapper p:hover {
  background: linear-gradient(to right, rgb(255, 115, 22), chartreuse);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-weight: bold; */
  cursor: pointer;
}
.links-wrapper .links a {
  color: black;
  display: flex;
  place-items: center;
}
.links-wrapper .links a:hover {
  color: rgb(255, 101, 229);
}
.links-wrapper .links .green:hover {
  color: rgb(64, 253, 47);
}
@media only screen and (max-width: 767px) {
  /* .links-wrapper {
    display: flex;
    justify-content: space-between;
  } */
  .links-wrapper > * {
    margin: 0;
    font-size: x-large;
  }
  .links-wrapper p {
    font-size: x-large;
    margin-left: 0.5rem;
  }
  .links-wrapper .links {
    margin-right: 0.5rem;
  }
  .links-wrapper div {
    border-radius: 0px;
  }
}

@media only screen and (min-width: 768px) {
}
