* {
  margin: 0 !;
  padding: 0;
}
body {
  margin: 0;
  height: 100vh;
  width: 100wv;
  padding: 0;
  overflow: hidden;
}
html,
body,
#root {
  height: 100%;
}

.spline-iframe {
  pointer-events: auto;
  /* position: absolute; */
  z-index: -1;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 99;
  color: white;
}
p {
  color: white;
}
button {
  position: relative;
  top: -400px;
}
