.text-wrapper p {
  font-size: 5rem;
  color: white;
  font-family: "Kanit", sans-serif;
  text-shadow: 0px 0px 5px black;
  line-height: 1rem;
  /* transition-behavior: normal; */
  box-shadow: inset 0 0 0 0 #31302b;
  transition: all ease 0.5s;
  cursor: pointer;
  pointer-events: auto;
}

/* One of the bests I learned from youtube */
.text-wrapper p::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: black;
  inset: 0;
  scale: 0 1;
  transform-origin: top;
  transition: scale 450ms;
}
.text-wrapper p:hover::after,
.text-wrapper p:focus-visible::after {
  transform-origin: bottom;
  scale: 1 1;
}
/* .text-wrapper p:hover {
  box-shadow: inset 160px 0px 0 0px black;
  scale: 1 1;
  transform-origin: right;
} */
/* .text-wrapper p > sub:hover {
  color: #31302b !important;
} */

.text-wrapper p sub {
  font-size: 2rem;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .text-wrapper {
    position: absolute;
    top: 25%;
    pointer-events: none;
    display: inline-flex;
    flex-direction: column;
    /* margin: 0 1rem; */
    padding: 0 1rem;
    gap: 3.5rem;
    z-index: 99;
  }
  .text-wrapper p {
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) {
  .text-wrapper {
    position: relative;
    top: -55%;
    padding: 0;
    gap: 9rem;
    flex-wrap: wrap;
    justify-content: space-between;
    pointer-events: none;
  }
}
