.navbar {
  display: flex;
  justify-content: space-between;
  font-family: "Kanit", sans-serif;
  padding-top: 0.5rem;
  font-size: x-large;
  background-color: transparent;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.navbar ul li a {
  color: #682ae9;
  text-decoration: none;
}

@media only screen and (max-width: 786px) {
  .navbar {
    font-size: large;
    padding: 0.5rem 0.5rem;
  }
}
